@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --color-primary: #121212;
  --color-secondary: darkblue;
  --color-background: whitesmoke;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
  font-family: 'Lato', sans-serif;
  background-color: var(--color-background);
  color: var(--color-primary);
}

img {
  max-width: 100%;
}

figure {
  margin: 0 0;
}

/* Header */

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  font-size: 2rem;
  font-weight: 300;
}

#logo a {
  color: var(--color-primary);
  text-decoration: none;
}

header nav ul {
  display: flex;
  justify-content: end;
  list-style-type: none;
}

header nav ul li {
  margin: 1em;
}

nav li a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 700;
}

/* About Me */

#about {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

@media only screen and (max-width: 450px) {
  #about {
    grid-template-columns: 1fr;
  }
}

#about-text {
  grid-column: span 1;
}

#about-photo {
  grid-column: span 1;
}

/* Projects */

#card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.project-card {
  flex-basis: 220px;
  flex-grow: 1;
  max-width: 350px;
  padding: 1.25em;
  border-radius: 2em;
  border: 3px solid var(--color-secondary);
}

.project-card img {
  border: 2px solid var(--color-secondary);
  margin: 0 auto;
}

.project-card figcaption {
  text-align: center;
  margin-top: 0.75em;
  color: var(--color-secondary);
  font-size: 1.45em;
  font-weight: 700;
}

/* Skills */

#skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

i {
  font-size: 2em;
}